# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts/*
!/artifacts/contracts/
!/artifacts/contracts/DrugSupplyChain.sol/
!/artifacts/contracts/DrugSupplyChain.sol/DrugSupplyChain.json

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Environment files
.env
.env.*
!.env.example

# Hardhat coverage reports
/coverage

# Gas snapshot files
/.gas-snapshot

# Snapshot cheatcodes output
/snapshots
